<body class="bg-gray-300 min-h-screen py-6 md:py-5 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
    
    <main class="bg-white max-w-sm mx-auto p-8 md:p-12 my-4 rounded-2xl shadow-2xl">
        <header class="max-w-lg mx-auto">
          <a href="#">
              <h1 class="text-4xl font-bold text-red-600 text-center">Register</h1>
          </a>
        </header>

        <section class="mt-10">
            <form action="/register" method="POST" class="flex flex-col">
                <div class="mb-1 pt-1 rounded bg-transperent">
                    <label class="block text-black text-xl font-bold mb-2" for="name">
                        Name
                    </label>
                    <input name="name" 
                        class="px-3 py-1 bg-red-100 rounded w-full text-gray-700 border-b-4 border-red-300 hover:bg-red-200 focus:outline-none focus:border-red-500 focus:bg-red-200 transition duration-200"
                        id="name" type="text" placeholder="Enter your name">
                </div>
                <div class="mb-1 pt-1 rounded bg-transperent">
                    <label class="block text-black text-xl font-bold mb-2" for="city">
                        city
                    </label>
                    <input name="city"
                        class="px-3 py-1 bg-red-100 rounded w-full text-gray-700 border-b-4 border-red-300 hover:bg-red-200 focus:outline-none focus:border-red-500 focus:bg-red-200 transition duration-200"
                        id="city" type="text" placeholder="Mumbai">
                </div>
                <div class="mb-1 pt-1 rounded bg-transperent">
                    <label class="block text-black text-xl font-bold mb-2" for="contact">
                        contact no
                    </label>
                    <input name="contact"
                        class="px-3 py-1 bg-red-100 rounded w-full text-gray-700 border-b-4 border-red-300 hover:bg-red-200 focus:outline-none focus:border-red-500 focus:bg-red-200 transition duration-200"
                        id="contact" type="text" placeholder="1234567890">
                </div>
                <div class="mb-1 pt-1 rounded bg-transperent">
                    <label class="block text-black text-xl font-bold mb-2" for="name">
                        Email
                    </label>
                    <input name="email" 
                        class="px-3 py-1 bg-red-100 rounded w-full text-gray-700 border-b-4 border-red-300 hover:bg-red-200 focus:outline-none focus:border-red-500 focus:bg-red-200 transition duration-200"
                        id="name" type="email" placeholder="Enter your email">
                </div>

                <div class="mb-1 pt-1 rounded bg-transperent">
                    <label class="block text-black text-xl font-bold mb-2" for="password">
                        Password
                    </label>
                    <input name="password"
                        class="px-3 py-1 bg-red-100 rounded w-full text-gray-700 border-b-4 border-red-300 hover:bg-red-200 focus:outline-none focus:border-red-500 focus:bg-red-200 transition duration-200"
                        id="password" type="password" placeholder="•••••••••••••">
                </div>

                <div class="mb-1 pt-1 rounded bg-transperent">
                    <lable class="block text-black text-xl font-bold mb-2">Account Type</lable>
                    <div class="mt-2">
                        <label class="ml-4 text-gray-700 text-m font-bold">
                            <input type="radio" class="form-radio" name="role" value="student">
                            <span class="ml-2">Student</span>
                        </label>
                        <label class="ml-4 text-gray-700 text-m font-bold">
                            <input type="radio" class="form-radio" name="role" value="mentor">
                            <span class="ml-2">Mentor</span>
                        </label>
                    </div>
                </div>

                <div class="flex justify-center mt-4">
                    <button
                        class="w-full bg-red-600 text-white text-xl font-bold p-2 rounded-full shadow-lg hover:bg-red-500 hover:shadow-xl transition duration-200"
                        type="submit">
                        Register
                    </button>
                </div>
                <div class="flex justify-end">
                    <a class="mt-4 text-m text-black hover:text-red-600" href="/login">
                        Already have account?
                    </a>
                </div>
            </form>
        </section>
    </main>
</body>