<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div class="container">
		<div class="img">
			<img class=my-20 src="https://raw.githubusercontent.com/harshillukhi/images/ad9d04838093741c8e8c7df722fea6ae28269391/undraw_personalization_triu%20(1).svg">
		</div>
        
		<div class="login-content">
			<form action="/register" method="POST" >
				
				<h2 class="title"><b>Create account</b></h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Name</h5>
           		   		<input name="name" type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div one">
           		   <div class="i"> 
           		    	<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>City</h5>
           		    	<input name="city" type="text" class="input" autocomplete="false">
            	   </div>
            	</div>
                <div class="input-div one">
                    <div class="i"> 
                         <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                         <h5>Contact No.</h5>
                         <input name="contact" type="text" class="input">
                 </div>
              </div>
              <div class="input-div one">
                <div class="i"> 
                     <i class="fas fa-user"></i>
                </div>
                <div class="div">
                     <h5>Email-id</h5>
                     <input name="email" type="text" class="input">
             </div>
          </div>
              

                <div class="input-div pass">
                    <div class="i"> 
                         <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                         <h5>Password</h5>
                         <input name="password" type="password" class="input">
                 </div>
              </div>
           
              <div class="mb-1 pt-1 rounded bg-trannsperet">
                <lable class="mt-4 text-gray-700 text-x1 font-bold mb-2">Account Type</lable>
                <div class="mt-2">
                    <label class="ml-4 text-gray-700 text-m font">
                        <input type="radio" class="form-radio" name="role" value="student">
                        <span class="ml-2">Student</span>
                    </label>
                    <label class="ml-4 text-gray-700 text-m font">
                        <input type="radio" class="form-radio" name="role" value="mentor">
                        <span class="ml-2">Mentor</span>
                    </label>
                </div>
            </div>


                
            	
            	<input type="submit" class="btn" value="Register">
                <a href="login">Already have an account? Log in </a>

                
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>