<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>ChatCord App</title>
</head>
<body class="bg-gray-300 min-h-screen py-6 md:py-5 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
    <main class="bg-white max-w-sm mx-auto p-8 md:p-12 my-4 rounded-2xl shadow-2xl">
        <header class="max-w-lg mx-auto">
            <h1 class=" text-3xl font-bold text-red-600 text-center">
                <i class="fas fa-smile"></i> ChatCord
            </h1>
            <p class="text-3xl font-bold text-red-600 text-center">Welcome</p>
        </header>
        <section class="mt-10">
            <form action="chat.html" class="flex flex-col">
                <div class="mb-1 pt-1 rounded bg-transperent">
                    <label class="block text-black text-xl font-bold mb-2" for="username">
                        Username
                    </label>
                    <input name="username"
                        class="px-3 py-1 bg-red-100 rounded w-full text-gray-700 border-b-4 border-red-300 hover:bg-red-200 focus:outline-none focus:border-red-500 focus:bg-red-200 transition duration-200"
                        id="username" type="text" placeholder="Enter username..." required/>
                </div>
                <div class="mb-1 pt-1 rounded bg-transperent">
                    <label for="room" class="block text-black text-xl font-bold mb-2">
                        Room
                    </label>
                    <select name="room" id="room" class="px-3 py-1 bg-red-100 rounded w-full text-gray-700 border-b-4 border-red-300 hover:bg-red-200 focus:outline-none focus:border-red-500 focus:bg-red-200 transition duration-200">
                        <option value="JavaScript">JavaScript</option>
                        <option value="Python">Python</option>
                        <option value="PHP">PHP</option>
                        <option value="C#">C#</option>
                        <option value="Ruby">Ruby</option>
                        <option value="Java">Java</option>
                    </select>
                </div>
                <div class="flex justify-center mt-4">
                    <button type="submit"
                        class="w-full bg-red-600 text-white text-xl font-bold p-2 rounded-full shadow-lg hover:bg-red-500 hover:shadow-xl transition duration-200">
                        Join Chat
                    </button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>